---
title: First Data Payments Service Broker for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a>Overview

First Data Payments Service Broker for PCF lets developers easily enable payments in their apps through the First Data API. First Data is one of the world's largest payment processors, powering merchants in over 100 countries using Apple Pay, Android Pay, PayPal, and many other payment methods.

Developers can easily link the First Data Payments service to their apps in one of three ways:

- Using their existing First Data developer account.
- Creating a new First Data developer account with their name and email.
- Using a pre-configured shared test account.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>First Data Payments for Pivotal Cloud Foundry (PCF) Details:</dt>
<dd><strong>Version</strong>: v1.0 </dd>
<dd><strong>Release Date</strong>: Oct 3, 2016</dd>
<dd><strong>Software component version</strong>: v1.0</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

* [MySQL for PCF  1.7](http://docs.pivotal.io/p-mysql)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or to FirstDataAPISupport@firstdata.com.
