---
title: First Data Payments Service Broker for PCF
owner: Partners
---

## <a id='overview'></a>Overview

Payeezy, from First Data, is a payment-processing platform for that supports merchants in over 50 countries using Apple Pay, Android Pay, PayPal, and many other transaction systems. First Data Payments Service Broker for PCF lets developers easily call the [Payeezy API](https://developer.payeezy.com) from their apps.

Developers can configure the service to log their app into Payeezy in one of three ways:

- Using their existing Payeezy account.
- Creating a new Payeezy account with their name and email.
- Generating default credentials, to support anonymous transactions.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>First Data Payments for PCF Details:</dt>
<dd><strong>Version</strong>: v1.0 </dd>
<dd><strong>Release Date</strong>: Oct 21, 2016</dd>
<dd><strong>Software component version</strong>: v1.0</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7</dd>
</dl>

## <a id="reqs"></a>Requirements

* [MySQL for PCF](http://docs.pivotal.io/p-mysql)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or [Payeezy](https://developer.payeezy.com/content/contact-us).
