---
title: First Data Payments Service Broker for PCF (Beta)
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT: </strong>
The First Data Payments Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.
</p>

## <a id='overview'></a>Overview

First Data Payments Service Broker for PCF lets developers easily enable payments in their apps through the First Data API. First Data is one of the world's largest payment processors, powering merchants in over 100 countries using Apple Pay, Android Pay, PayPal, and many other payment methods.

Developers can easily link the First Data Payments service to their apps in one of three ways:

- Using their existing First Data developer account.
- Creating a new First Data developer account with their name and email.
- Using a pre-configured shared test account.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about First Data Payments for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Oct 3, 2016</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

* [MySQL for PCF 1.7](http://docs.pivotal.io/p-mysql/1-7/index.html)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or to FirstDataAPISupport@firstdata.com.
