---
title: First Data Payments Service Broker for Pivotal Cloud Foundry
owner: Partners
---

## <a id='overview'></a>Overview

First Data Payments Service Broker for PCF lets developers easily call the [Payeezy API](https://developer.payeezy.com) from their apps. Payeezy, from First Data, is a payment-processing platform for that supports merchants in over 50 countries using Apple Pay, Android Pay, PayPal, and many other transaction systems.

Developers can configure the First Data Payments service to log their app into Payeezy in one of three ways:

- Using their existing Payeezy account.
- Creating a new Payeezy account with their name and email.
- Generating default credentials for Payeezy, to support anonymous transactions.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>First Data Payments for Pivotal Cloud Foundry (PCF) Details:</dt>
<dd><strong>Version</strong>: v1.0 </dd>
<dd><strong>Release Date</strong>: Oct 21, 2016</dd>
<dd><strong>Software component version</strong>: v1.0</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.7</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

* [MySQL for PCF](http://docs.pivotal.io/p-mysql)

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list, or to boris.minkin@firstdata.com and dave.nikolic@firstdata.com.
