---
title: Installing and Configuring First Data Payments for PCF
owner: Partners
---

This topic describes how Pivotal Cloud Foundry (PCF) operators can install and configure the First Data Payments Service Broker tile to make the service available to PCF developers.

##<a id='install'></a> Install the First Data Payments Tile

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the product file.

1. Under **Available Products** in Ops Manager, click **Add** next to the uploaded product description to add First Data Payments to your staging area.

1. Click the newly-added First Data Payments tile. Review and complete any configurable options.

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the First Data Payments service.
